@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #000000;
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    background-color: #2E2E2E;
    justify-content: space-around;
    align-items: center;
    height: 99px;
}

footer{
    text-align: center;
    background-color: #2E2E2E;
    color: #ffffff;
    padding: 25px;
    height: 15px;
}
.NP{
    width: 600px;
}

main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    flex: 1;
}
.content-table{
    margin: 120px 90px;
    font-size: 1.2em;
    min-width: 400px;
    border-collapse: collapse;
    /* border-radius: 10px 10px 0 0; */
    overflow: hidden;
    border: solid 2px #2E2E2E;


}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table thead tr{
    background-color: #2E2E2E;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table tbody tr{
    border-bottom: 1px solid #2E2E2E;
}

h2 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
    width: 190px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

.block-one {
    width: 800px;
    margin-top: 135px;
    margin-left: 310px;
}

.block-one h1{
    color: #ffffff;
    font-size: 45px;
}

.block-one p {
    color: #ffffff;
    font-size: 25px;
}

.block-rooster {
    width: 800px;
    margin-top: 135px;
    margin-left: 310px;
}

.block-rooster h1{
    color: #ffffff;
    font-size: 45px;
}

.block-rooster p{
    color: #ffffff;
    font-size: 25px;
}

table{
    color: #ffffff;
    font-size: 25px;
    border: 2px #ffffff; 
}

